footer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* vertical-align: middle; */

    font-family: 'Roboto', sans-serif;

    height: 23rem;
    width: 100%;

    background-color: #F0F4FD;
}

.information{
    margin: 2.8rem;
}

.localization{
    margin-right: 30rem;
}

.tittle{
    color: #898787;

    font-size: 1.3rem;
    margin-top: 4.4rem;
}

.subtittle{
    color: #5485E6;

    font-size: 1rem;
    margin-top: 2rem;
}

p{
    color: #898787;
}

.paragraph{
    margin-left: 1.7rem;
}